h1 {
  font-size: 48px;
  font-weight: 900;
  margin: 0;
}
.current-details {
  line-height: 24px;
  color: rgba(39, 33, 66, 0.4);
  font-weight: 400;
  font-size: 16px;
}
.current-details strong {
  color: rgb(239, 7, 204);
}
.current-weather {
  display: flex;
  justify-content: space-between;
}
.current-temperature {
  font-size: 48px;
}
.current-temp-icon {
  position: relative;
  top: -10px;
  font-size: 40px;
  margin-right: 5px;
}
.current-temp-value {
  font-size: 80px;
  font-weight: bold;
}

.current-temp-degree {
  font-size: 28px;
  position: relative;
  top: -38px;
}
