header {
  border-bottom: 1px solid #f9f7fe;
  padding-bottom: 30px;
}

.search-input,
.search-button {
  border: none;
  border-radius: 6px;
  padding: 20px;
  font-size: 16px;
}
.search-input {
  background: #e8d3e245;
  color: rgba(39, 33, 66, 0.4);
  width: 80%;
  border-radius: 6px;
}
.search-button {
  margin-left: 7px;
  background: rgb(120, 23, 105);
  color: #fff;
  line-height: 1;
  border-radius: 5px;
}
