header {
  border-bottom: 1px solid #f9f7fe;
  padding-bottom: 30px;
}

.search-input,
.search-button {
  border: none;
  border-radius: 6px;
  padding: 20px;
  font-size: 16px;
}
.search-input {
  background: #e8d3e245;
  color: rgba(39, 33, 66, 0.4);
  width: 80%;
  border-radius: 6px;
}
.search-button {
  margin-left: 7px;
  background: rgb(120, 23, 105);
  color: #fff;
  line-height: 1;
  border-radius: 5px;
}
h1 {
  font-size: 48px;
  font-weight: 900;
  margin-top: 20px;
  margin-bottom: 0;
}

.current-details {
  line-height: 24px;
  color: rgba(39, 33, 66, 0.4);
  font-weight: 400;
  font-size: 16px;
  margin-top: 30px;
}
.current-details strong {
  color: rgb(239, 7, 204);
}
.current-weather {
  display: flex;
  justify-content: space-between;
}
.current-temperature {
  font-size: 48px;
}
.current-temp-icon {
  position: relative;
  top: -5px;
  font-size: 40px;
  margin-right: 10px;
}
.current-temp-value {
  position: relative;
  top: -20px;
  font-size: 80px;
  font-weight: bold;
}

.current-temp-degree {
  font-size: 28px;
  position: relative;
  top: -58px;
}
